In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
%matplotlib inline
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv('C:/Users/Gaurav/Downloads/test-comp-srijan/train_data.csv')

In [3]:
df=df.fillna(np.nan)

In [4]:
df.sample(10)

,name,addition_time,servings,prep_time,cook_time,total_time,ingredints,calories,fat,carbs,protine,rating,like
373,German Rouladen,NaN,6,20 mins,1 hrs 10 mins,1 hrs 30 mins,"['steak', 'mustard', 'taste', 'bacon', 'onions...",264,17g,8g,19g,4.6,good
433,Hawaiian Bread II,1 hrs 45 mins,20,20 mins,30 mins,2 hrs 35 mins,"['yeast', 'eggs', 'juice', 'water', 'sugar', '...",226,6g,38g,5g,4.2,good
1555,Jewish Style Sweet and Sour Brisket,8 hrs,10,15 mins,2 hrs 45 mins,11 hrs,"['brisket', 'water', 'ketchup', 'vinegar', 'on...",401,25g,24g,19g,4.7,good
980,Portuguese Chourico and Peppers,NaN,8,15 mins,10 hrs,10 hrs 15 mins,"['sausage', 'crumbled', 'peppers', 'chopped', ...",579,44g,12g,29g,3.7,bad
1549,Indonesian Fried Rice (Nasi Goreng),2 hrs,4,20 mins,40 mins,3 hrs,"['water', 'rice', 'spray', 'eggs', 'beaten', '...",415,10g,50g,31g,4.8,bad
971,Newfoundland-Style Pea Soup,8 hrs,10,20 mins,50 mins,9 hrs 10 mins,"['beef', 'peas', 'water', 'carrots', 'chopped'...",201,4g,28g,15g,4.9,bad
1133,Thai Fried Rice with Pineapple and Chicken,NaN,6,10 mins,20 mins,30 mins,"['bacon', 'diced', 'shallots', 'sliced', 'brea...",267,10g,30g,13g,4.3,bad
325,Cucumber Chili Salad,1 hrs,4,15 mins,NaN,1 hrs 15 mins,"['lengthwise', 'seeded', 'pieces', 'pepper', '...",56,4g,7g,1g,4.1,bad
1093,Jamaican Cabbage,NaN,6,20 mins,20 mins,40 mins,"['cabbage', 'oil', 'needed', 'onion', 'sliced'...",121,5g,19g,3g,4.6,good
44,Malaysian Barbecue Chicken Wings,NaN,2,NaN,NaN,NaN,"['wings', 'sauce', 'sauce', 'oil', 'sauce', 'p...",755,54g,7g,58g,4.4,good

In [5]:
df=df.replace(np.nan,"")

In [6]:
df

,name,addition_time,servings,prep_time,cook_time,total_time,ingredints,calories,fat,carbs,protine,rating,like
0,Filipino Ribs,,11,,,,"['spareribs', 'onions', 'wedges', 'onion', 'ch...",773,59g,19g,39g,4.4,good
1,Seafood Gumbo,10 mins,8,15 mins,1 hrs 20 mins,1 hrs 45 mins,"['pepper', 'pepper', 'pepper', 'paprika', 'thy...",357,24g,13g,23g,4.5,good
2,Air-Fried Korean Chicken Wings,,4,10 mins,40 mins,50 mins,"['Honey', 'paste', 'sugar', 'sauce', 'juice', ...",347,12g,45g,16g,4.8,bad
3,Vietnamese Chicken and Long-Grain Rice Congee,,4,10 mins,2 hrs,2 hrs 10 mins,"['rice', 'chicken', 'root', 'grass', 'chopped'...",643,42g,10g,53g,4.5,bad
4,Okra and Tomatoes,,6,10 mins,20 mins,30 mins,"['bacon', 'okra', 'sliced', 'onion', 'chopped'...",94,5g,12g,4g,4.6,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1709,Pouding Chomeur,10 mins,10,15 mins,35 mins,1 hrs,"['syrup', 'cream', 'butter', 'temperature', 's...",602,33g,76g,5g,4.5,bad
1710,Grandma's Authentic Swedish Meatballs,,6,20 mins,40 mins,1 hrs,"['beef', 'sausage', 'crumbs', 'onion', 'diced'...",437,28g,22g,23g,4.0,bad
1711,Argentinian Steak with Red Chimichurri,7 hrs,4,30 mins,15 mins,7 hrs 45 mins,"['parsley', 'onion', 'chopped', 'tomato', 'cho...",758,56g,23g,44g,4.0,bad
1712,Kalimotxo (Calimocho),,1,5 mins,,5 mins,"['cubes', 'serving', 'wine', 'cola', 'garnish']",156,,18g,0g,4.2,bad
1713,Coquito de Puerto Rico,8 hrs,20,10 mins,,8 hrs 10 mins,"['coconut', 'milk', 'milk', 'Bacardi', 'water'...",194,7g,28g,3g,5.0,bad

In [7]:
df['addition_time']=df['addition_time'].str.replace(" mins","").str.replace(" hrs","*60").str.replace(" days","*1440").str.replace(" day","*1440").str.replace(" ","+")
df['prep_time']=df['prep_time'].str.replace(" mins","").str.replace(" hrs","*60").str.replace(" days","*1440").str.replace(" day","*1440").str.replace(" ","+")
df['cook_time']=df['cook_time'].str.replace(" mins","").str.replace(" hrs","*60").str.replace(" days","*1440").str.replace(" day","*1440").str.replace(" ","+")
df['total_time']=df['total_time'].str.replace(" mins","").str.replace(" hrs","*60").str.replace(" days","*1440").str.replace(" day","*1440").str.replace(" ","+")
df['fat']=df['fat'].str.replace('g',"")
df['carbs']=df['carbs'].str.replace('g',"")
df['protine']=df['protine'].str.replace('g',"")
df=df.drop(columns=['ingredints'])

In [8]:
df

,name,addition_time,servings,prep_time,cook_time,total_time,calories,fat,carbs,protine,rating,like
0,Filipino Ribs,,11,,,,773,59,19,39,4.4,good
1,Seafood Gumbo,10,8,15,1*60+20,1*60+45,357,24,13,23,4.5,good
2,Air-Fried Korean Chicken Wings,,4,10,40,50,347,12,45,16,4.8,bad
3,Vietnamese Chicken and Long-Grain Rice Congee,,4,10,2*60,2*60+10,643,42,10,53,4.5,bad
4,Okra and Tomatoes,,6,10,20,30,94,5,12,4,4.6,good
...,...,...,...,...,...,...,...,...,...,...,...,...
1709,Pouding Chomeur,10,10,15,35,1*60,602,33,76,5,4.5,bad
1710,Grandma's Authentic Swedish Meatballs,,6,20,40,1*60,437,28,22,23,4.0,bad
1711,Argentinian Steak with Red Chimichurri,7*60,4,30,15,7*60+45,758,56,23,44,4.0,bad
1712,Kalimotxo (Calimocho),,1,5,,5,156,,18,0,4.2,bad
1713,Coquito de Puerto Rico,8*60,20,10,,8*60+10,194,7,28,3,5.0,bad

In [9]:
for i in range(len(df['addition_time'])):
        if len(df['addition_time'][i])>0:
            
                df['addition_time'][i]=eval(df['addition_time'][i])

for i in range(len(df['prep_time'])):
        if len(df['prep_time'][i])>0:
            
                df['prep_time'][i]=eval(df['prep_time'][i])  
                
for i in range(len(df['cook_time'])):
        if len(df['cook_time'][i])>0:
            
                df['cook_time'][i]=eval(df['cook_time'][i])
                
for i in range(len(df['total_time'])):
        if len(df['total_time'][i])>0:
            
                df['total_time'][i]=eval(df['total_time'][i])

C:\Users\Gaurav\AppData\Local\Temp\ipykernel_16112\3712955904.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['addition_time'][i]=eval(df['addition_time'][i])
C:\Users\Gaurav\AppData\Local\Temp\ipykernel_16112\3712955904.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['prep_time'][i]=eval(df['prep_time'][i])
C:\Users\Gaurav\AppData\Local\Temp\ipykernel_16112\3712955904.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cook_time'][i]=eval(df['cook_time'][i])
C:\Users\Gaurav\AppData\Local\Temp\ipykernel_16112\3712955904.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_time'][i]=eval(df['total_time'][i])

In [10]:
df

,name,addition_time,servings,prep_time,cook_time,total_time,calories,fat,carbs,protine,rating,like
0,Filipino Ribs,,11,,,,773,59,19,39,4.4,good
1,Seafood Gumbo,10,8,15,80,105,357,24,13,23,4.5,good
2,Air-Fried Korean Chicken Wings,,4,10,40,50,347,12,45,16,4.8,bad
3,Vietnamese Chicken and Long-Grain Rice Congee,,4,10,120,130,643,42,10,53,4.5,bad
4,Okra and Tomatoes,,6,10,20,30,94,5,12,4,4.6,good
...,...,...,...,...,...,...,...,...,...,...,...,...
1709,Pouding Chomeur,10,10,15,35,60,602,33,76,5,4.5,bad
1710,Grandma's Authentic Swedish Meatballs,,6,20,40,60,437,28,22,23,4.0,bad
1711,Argentinian Steak with Red Chimichurri,420,4,30,15,465,758,56,23,44,4.0,bad
1712,Kalimotxo (Calimocho),,1,5,,5,156,,18,0,4.2,bad
1713,Coquito de Puerto Rico,480,20,10,,490,194,7,28,3,5.0,bad

In [11]:
df.dtypes

name              object
addition_time     object
servings           int64
prep_time         object
cook_time         object
total_time        object
calories           int64
fat               object
carbs             object
protine           object
rating           float64
like              object
dtype: object

In [12]:
df['addition_time']=pd.to_numeric(df['addition_time'])
df['prep_time']=pd.to_numeric(df['prep_time'])
df['cook_time']=pd.to_numeric(df['cook_time'])
df['total_time']=pd.to_numeric(df['total_time'])
df['fat']=pd.to_numeric(df['fat'])
df['carbs']=pd.to_numeric(df['carbs'])
df['protine']=pd.to_numeric(df['protine'])

In [13]:
df['like'] = df['like'].map({'good': 1, 'bad': 0})

In [14]:
df.isna().sum()

name                0
addition_time    1072
servings            0
prep_time          59
cook_time         216
total_time         55
calories            0
fat                52
carbs              28
protine            34
rating              0
like                0
dtype: int64

In [15]:
df

,name,addition_time,servings,prep_time,cook_time,total_time,calories,fat,carbs,protine,rating,like
0,Filipino Ribs,NaN,11,NaN,NaN,NaN,773,59.0,19.0,39.0,4.4,1
1,Seafood Gumbo,10.0,8,15.0,80.0,105.0,357,24.0,13.0,23.0,4.5,1
2,Air-Fried Korean Chicken Wings,NaN,4,10.0,40.0,50.0,347,12.0,45.0,16.0,4.8,0
3,Vietnamese Chicken and Long-Grain Rice Congee,NaN,4,10.0,120.0,130.0,643,42.0,10.0,53.0,4.5,0
4,Okra and Tomatoes,NaN,6,10.0,20.0,30.0,94,5.0,12.0,4.0,4.6,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1709,Pouding Chomeur,10.0,10,15.0,35.0,60.0,602,33.0,76.0,5.0,4.5,0
1710,Grandma's Authentic Swedish Meatballs,NaN,6,20.0,40.0,60.0,437,28.0,22.0,23.0,4.0,0
1711,Argentinian Steak with Red Chimichurri,420.0,4,30.0,15.0,465.0,758,56.0,23.0,44.0,4.0,0
1712,Kalimotxo (Calimocho),NaN,1,5.0,NaN,5.0,156,NaN,18.0,0.0,4.2,0
1713,Coquito de Puerto Rico,480.0,20,10.0,NaN,490.0,194,7.0,28.0,3.0,5.0,0

In [16]:
df.dtypes

name              object
addition_time    float64
servings           int64
prep_time        float64
cook_time        float64
total_time       float64
calories           int64
fat              float64
carbs            float64
protine          float64
rating           float64
like               int64
dtype: object

In [17]:
df=df.drop(columns=['name'])

In [18]:
df['prep_time'].fillna(df['prep_time'].mean(),inplace=True)
df['cook_time'].fillna(df['cook_time'].mean(),inplace=True)
df['total_time'].fillna(df['total_time'].mean(),inplace=True)
df['fat'].fillna(df['fat'].mean(),inplace=True)
df['carbs'].fillna(df['carbs'].mean(),inplace=True)
df['protine'].fillna(df['protine'].mean(),inplace=True)

In [19]:
df

,addition_time,servings,prep_time,cook_time,total_time,calories,fat,carbs,protine,rating,like
0,NaN,11,23.277341,47.855808,218.233876,773,59.000000,19.0,39.0,4.4,1
1,10.0,8,15.000000,80.000000,105.000000,357,24.000000,13.0,23.0,4.5,1
2,NaN,4,10.000000,40.000000,50.000000,347,12.000000,45.0,16.0,4.8,0
3,NaN,4,10.000000,120.000000,130.000000,643,42.000000,10.0,53.0,4.5,0
4,NaN,6,10.000000,20.000000,30.000000,94,5.000000,12.0,4.0,4.6,1
...,...,...,...,...,...,...,...,...,...,...,...
1709,10.0,10,15.000000,35.000000,60.000000,602,33.000000,76.0,5.0,4.5,0
1710,NaN,6,20.000000,40.000000,60.000000,437,28.000000,22.0,23.0,4.0,0
1711,420.0,4,30.000000,15.000000,465.000000,758,56.000000,23.0,44.0,4.0,0
1712,NaN,1,5.000000,47.855808,5.000000,156,17.737064,18.0,0.0,4.2,0
1713,480.0,20,10.000000,47.855808,490.000000,194,7.000000,28.0,3.0,5.0,0

In [20]:
df['addition_time'].fillna(5000,inplace=True)

In [21]:
df

,addition_time,servings,prep_time,cook_time,total_time,calories,fat,carbs,protine,rating,like
0,5000.0,11,23.277341,47.855808,218.233876,773,59.000000,19.0,39.0,4.4,1
1,10.0,8,15.000000,80.000000,105.000000,357,24.000000,13.0,23.0,4.5,1
2,5000.0,4,10.000000,40.000000,50.000000,347,12.000000,45.0,16.0,4.8,0
3,5000.0,4,10.000000,120.000000,130.000000,643,42.000000,10.0,53.0,4.5,0
4,5000.0,6,10.000000,20.000000,30.000000,94,5.000000,12.0,4.0,4.6,1
...,...,...,...,...,...,...,...,...,...,...,...
1709,10.0,10,15.000000,35.000000,60.000000,602,33.000000,76.0,5.0,4.5,0
1710,5000.0,6,20.000000,40.000000,60.000000,437,28.000000,22.0,23.0,4.0,0
1711,420.0,4,30.000000,15.000000,465.000000,758,56.000000,23.0,44.0,4.0,0
1712,5000.0,1,5.000000,47.855808,5.000000,156,17.737064,18.0,0.0,4.2,0
1713,480.0,20,10.000000,47.855808,490.000000,194,7.000000,28.0,3.0,5.0,0

In [22]:
for i in range(len(df['addition_time'])):
        if df['addition_time'][i]==5000:
                    
                a=df['total_time'][i]-(df['prep_time'][i]+df['cook_time'][i])
                if a>=0:
                    df['addition_time'][i]=a
                else:
                    df['addition_time'][i]=0.00

C:\Users\Gaurav\AppData\Local\Temp\ipykernel_16112\4232511185.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['addition_time'][i]=a
C:\Users\Gaurav\AppData\Local\Temp\ipykernel_16112\4232511185.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['addition_time'][i]=0.00

In [23]:
df

,addition_time,servings,prep_time,cook_time,total_time,calories,fat,carbs,protine,rating,like
0,147.100727,11,23.277341,47.855808,218.233876,773,59.000000,19.0,39.0,4.4,1
1,10.000000,8,15.000000,80.000000,105.000000,357,24.000000,13.0,23.0,4.5,1
2,0.000000,4,10.000000,40.000000,50.000000,347,12.000000,45.0,16.0,4.8,0
3,0.000000,4,10.000000,120.000000,130.000000,643,42.000000,10.0,53.0,4.5,0
4,0.000000,6,10.000000,20.000000,30.000000,94,5.000000,12.0,4.0,4.6,1
...,...,...,...,...,...,...,...,...,...,...,...
1709,10.000000,10,15.000000,35.000000,60.000000,602,33.000000,76.0,5.0,4.5,0
1710,0.000000,6,20.000000,40.000000,60.000000,437,28.000000,22.0,23.0,4.0,0
1711,420.000000,4,30.000000,15.000000,465.000000,758,56.000000,23.0,44.0,4.0,0
1712,0.000000,1,5.000000,47.855808,5.000000,156,17.737064,18.0,0.0,4.2,0
1713,480.000000,20,10.000000,47.855808,490.000000,194,7.000000,28.0,3.0,5.0,0

In [24]:
df.isnull().sum()

addition_time    0
servings         0
prep_time        0
cook_time        0
total_time       0
calories         0
fat              0
carbs            0
protine          0
rating           0
like             0
dtype: int64

In [25]:
df['servings'].unique()

array([ 11,   8,   4,   6,  12,  20,  50,   2,  10,   3,  48,   1,   9,
        30,   5,  34, 100,  18,  36,   7,  24,  16,  25,  80,  60,  15,
        40, 120,  35, 240,  84, 176,  14,  45,  32,  64,  38,  13, 192,
        28,  22,  54, 200,  26,  72,  21], dtype=int64)

In [26]:
for i in range (len(df['servings'])):
   if df['servings'][i] <=3:
            df.drop(i,axis=0,inplace=True)

In [27]:
df['servings'].unique()

array([ 11,   8,   4,   6,  12,  20,  50,  10,  48,   9,  30,   5,  34,
       100,  18,  36,   7,  24,  16,  25,  80,  60,  15,  40, 120,  35,
       240,  84, 176,  14,  45,  32,  64,  38,  13, 192,  28,  22,  54,
       200,  26,  72,  21], dtype=int64)

In [28]:
from sklearn import metrics
from sklearn.model_selection import train_test_split
import pickle

In [29]:
X = df.drop('like', axis = 1)
y = df['like']

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.2,random_state =123)

In [38]:
from sklearn.ensemble import RandomForestClassifier

In [41]:
from sklearn.pipeline import Pipeline
pipe = Pipeline(steps=[
    ('step1',RandomForestClassifier(n_estimators = 200))
])

In [47]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7089783281733746

In [48]:
pickle.dump(pipe,open("food.pkl","wb"))

In [49]:
df.sample(3)

,addition_time,servings,prep_time,cook_time,total_time,calories,fat,carbs,protine,rating,like
1165,0.00,6,15.00,20.00,35.00,190,3.00,27.00,12.00,3.60,0
1306,0.00,8,30.00,30.00,60.00,368,33.00,9.00,13.00,4.60,1
1128,60.00,12,20.00,100.00,180.00,435,25.00,25.00,28.00,4.60,0